@mixin button-by-type($type) {
  background: var(--button-bg--#{$type});
  box-shadow: var(--button-shadow--#{$type});
  border-radius: var(--button-br--#{$type});

  &:active {
    background: var(--button-bg-active--#{$type});
    box-shadow: var(--button-shadow-active--#{$type});
  }
}

.button {
  // main styles
  width: 56px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;

  &__icon {
    width: 26px;
    height: 26px;
    background-size: cover;
    background-image: var(--button-icon);
  }

  &:active {
    .button__icon {
      background-image: var(--button-icon-active)
    }
  }

  // custom styles for types

  &--curved {
    @include button-by-type('curved');
  }

  &--soft {
    @include button-by-type('soft');
  }

  &--flat {
    @include button-by-type('flat');
  }
}
