.button {
  width: 56px;
  height: 56px;
  background: var(--button-bg);
  box-shadow: var(--button-shadow);
  border-radius: 16px;
  border: none;

  &__icon--pressed {
    display: none;
  }

  &__icon--nonpressed {
    display: unset;
  }

  &:active {
    background: var(--button-bg-active);
    box-shadow: var(--button-shadow-active);
  }

  &:active &__icon--pressed {
    display: unset;
  }

  &:active &__icon--nonpressed {
    display: none;
  }
}
