:root {
  --main-bgc: hsl(208, 60%, 95%);
  --light-bgc: hsl(211, 34%, 88%);
  --main-text-color: hsl(219, 37%, 30%);
  --main-border-color: hsl(218, 19%, 89%);

  --toggle-bgc: hsl(212, 51%, 93%);
  --toggle-box-shadow: 0px 7px 16px rgba(104, 132, 157, 0.5), 0px -6px 24px #FFFFFF;
  --toggle-switcher-field-box-shadow: inset 2px 2px 6px rgba(105, 141, 173, 0.48), inset 1px 1px 2px rgba(105, 141, 173, 0.28), inset -3px -3px 8px rgba(255, 255, 255, 0.5);
  --toggle-switcher-bg: linear-gradient(90deg, #B5230F 22.63%, rgba(197, 37, 15, 0) 50%),
                      radial-gradient(18.87% 73% at 35.94% 55%, rgba(209, 32, 8, 0.7) 63.54%, rgba(187, 27, 6, 0) 100%),
                      linear-gradient(98.08deg, #DF5C4A -10.66%, #F71E00 119.6%);
  --toggle-switcher-shadow: 2px 2px 6px rgba(18, 46, 101, 0.26),
                    -2px -2px 4px rgba(255, 255, 255, 0.3),
                    inset -6px -2px 3px rgba(0, 0, 0, 0.2),
                    inset 2px 0px 8px rgba(0, 0, 0, 0.3);


  // button-curved
  --button-bg--curved:  radial-gradient(315.18% 315.18% at -124.11% -101.79%,
              #B9CCE2 11.1%, #FFFFFF 85.21%), #E3EDF7;
  --button-shadow--curved:  4px 2px 16px rgba(136, 165, 191, 0.38),
                    -4px -2px 16px rgba(255, 255, 255, 0.7);
  --button-shadow-active--curved: inset 4px 4px 12px rgba(136, 165, 191, 0.4),
                          inset -4px -4px 16px rgba(255, 255, 255, 0.8);
  --button-bg-active--curved: hsl(210, 56%, 93%);
  --button-br--curved: 16px;

  // button-soft
  --button-bg--soft: hsl(213, 44%, 95%);
  --button-shadow--soft: 6px 4px 24px rgba(136, 165, 191, 0.36),
                          -8px -4px 16px rgba(255, 255, 255, 0.7);
  --button-bg-active--soft: radial-gradient(315.18% 315.18% at -124.11% -101.79%, #B9CCE2 11.1%, #FFFFFF 85.21%),
                                #E3EDF7;
  --button-shadow-active--soft: 6px 4px 24px rgba(136, 165, 191, 0.36), -8px -4px 16px rgba(255, 255, 255, 0.6);
  --button-br--soft: 42px;

  // button-flat
  --button-bg--flat: hsl(213, 44%, 95%);
  --button-shadow--flat: 4px 2px 16px rgba(136, 165, 191, 0.48),
                        -4px -2px 16px #FFFFFF;
  --button-bg-active--flat: hsl(210, 56%, 93%);
  --button-shadow-active--flat: inset 3px 3px 7px rgba(136, 165, 191, 0.48),
                                inset -3px -3px 7px #FFFFFF;
  --button-br--flat: 16px;
}
