@import './styles/variables.scss';
body {
  background-color: var(--main-bgc);
}

* {
  box-sizing: border-box;
}

html {
  font-family: Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
}

.app {
  margin: 150px auto;
  width: 600px;

}
