.app {
  margin: 150px auto;
  width: 600px;

}

body {
  background-color: hsl(208, 60%, 95%);
}

* {
  box-sizing: border-box;
}

html {
  font-family: Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
}
